<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{.Title}}</title>
  <link rel="stylesheet" type='text/css' href="/static/style.css" />
</head>
<body class="rendered">
  <div id="metadata">
    <h1>{{.Title}}</h1>
{{range .Meta}}
    <h3><label>{{.Label}}:</label><span>{{.Value}}</span></h3>{{end}}
  </div>
  <div id="story">
    <hr />
    {{.HTML}}
  </div>
</body>
</html>
